<a href="https://colab.research.google.com/github/samtrrs52/Modulo-3/blob/main/Pr%C3%A1ctica_1_Extracci%C3%B3n_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

CARGA DE ARCHIVO XLSX

In [4]:
#Carga desde un archivo .xlsx sin indice
df= pd.read_excel('Detalle precios y productos fabricados 2022 (1).xlsx')
#df

In [ ]:
#Verificamos información del DataFrame
df.info()

**FILTROS BASICOS PARA VARIABLES CUALITATIVAS**

Filtro 1: por objeto

La idea tras la selección de esta instancia através de esta columna de "Nombre Vendedor" es aislar las ventas que esta persona tiene así como el resto de los datos de cada venta que tuvo. Nos permite ver con detalle la lista de todos los movimientos que esta persona generó y este dataset puede servinirnos para comparar el desempeño que esta vendedora tiene.

In [39]:
filtro1=df[df["NOMBRE_VENDEDOR"] == "LETICIA RAMIREZ HERNANDEZ"]
filtro1

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,F39830,2022-12-23,LETICIA RAMIREZ HERNANDEZ,TORJJS,3,PJ31Q1G1A400,"TER J 3/16""ØX1/2"" EXT3MT MALLA INOX Z/E",439.15,0.00,123.21,1317.45,369.62,315.94,947.83
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49

Filtro 2: por filas

En ocasiones no siempre quieres ver toda la información. En este caso podemos usar este filtro para solo exportar las filas de ciertas fechas.

In [40]:
filtro2= df.iloc[10:20,: ]           #Filas consecutivas
filtro2

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
10,F37050,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
11,F37051,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,0.00,586.32,1615.00,586.32,1028.68,1028.68
12,F37052,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,0.00,586.32,1615.00,586.32,1028.68,1028.68
13,F37053,2022-01-05,DIEGO ARMANDO LEON DURAN,SANDIBEEL BECERRA HURTADO,1,BO00051,BOB 8020 CAL.26 127V BAS28.5CMX27CM MICA,1485.25,0.00,86.22,1485.25,86.22,1399.03,1399.03
14,F37054,2022-01-05,DIEGO ARMANDO LEON DURAN,INDUSTRIAS NIBA,1,BC00023,BC INOX 114MMØX165MM 1500W 230V C/ALLEN,2095.25,0.00,742.05,2095.25,742.05,1353.20,1353.20
15,F37058,2022-01-05,DIEGO ARMANDO LEON DURAN,MOLINERA DE MEXICO,5,PT00070,"PT-100 1/8""ØX30MM EXT 1.5MT 3HILOS Z/ESP",192.50,51.73,149.60,481.25,397.08,42.90,84.17
16,F37059,2022-01-05,DIEGO ARMANDO LEON DURAN,SILCA CERAMICO PRODUCTOS,2,TP0011,"TERMOPAR CERAMICO T/K"" LONG 12"" CAL 8""",771.28,124.00,124.00,1542.56,248.00,647.28,1294.56
17,F37060,2022-01-05,DIEGO ARMANDO LEON DURAN,OSCAR VALDEZ GUADARRAMA,3,PJ31C1F1AA00,"TER J 3/16""ØX2"" EXT.2MT CON-1/2"" NPT",125.00,0.00,141.90,375.00,425.69,-16.90,-50.69
18,F37061,2022-01-05,ALFREDO CANELA,ELICAMEX,5,WRE-2133,BAN MICA 120mmØx50mm 850W 440V TTORNILLO,821.30,0.00,78.70,4106.50,393.48,742.60,3713.02
19,F37061,2022-01-05,ALFREDO CANELA,ELICAMEX,7,WRE-2774,BAN MICA Ø120MM X 50 MM 700W 440V T TOR,821.30,0.00,75.77,5749.10,530.41,745.53,5218.69

Filtro 3: por columnas

Así como con las filas, puede que necesites hacer un análisis de solo algunas columnas y con este filtro puedes tener un archivo más limpio.

Aquí por ejemplo, me interesaba aislar el costo y margen de los productos y su relación entre ellos. Esto puede ser usado más adelante para encontrar algún tipo de cluster entre items.

In [41]:
filtro3=df.iloc[ : , [7,8,9,13]]
filtro3

,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,434.48,52.80,52.80,381.68
1,1264.05,327.18,327.18,936.87
2,551.61,177.68,177.68,2617.56
3,140.00,38.96,38.96,101.04
4,172.41,101.71,101.71,141.41
...,...,...,...,...
1421,712.00,102.31,102.31,3658.12
1422,718.60,104.69,104.69,3683.48
1423,2182.35,0.00,596.55,4757.41
1424,5909.84,1884.35,1884.35,4025.49
1425,1406.00,0.00,80.66,13253.45

Filtro 4: filtro de filas vs columnas

La conjunción de los anteriores. Aquí lo que quiero ver es los valores que me arroja al aislar el margen del público en general. Con esto puedo ver que tanta varianza tiene y poder empezar a identificar outliers.

In [42]:
# Nuevo DF con el Nombre de los clientes como la columna índice 
df1= pd.read_excel('Detalle precios y productos fabricados 2022 (1).xlsx', index_col=3)

In [43]:
filtro4=df1.loc[["PÚBLICO EN GENERAL"] , ["MARGEN_TOTAL_CALCULADO"]]
filtro4

                    MARGEN_TOTAL_CALCULADO
NOMBRE_CLIENTE
PÚBLICO EN GENERAL                  381.68
PÚBLICO EN GENERAL                  141.41
PÚBLICO EN GENERAL                  375.32
PÚBLICO EN GENERAL                 2241.20
PÚBLICO EN GENERAL                  941.24
...                                    ...
PÚBLICO EN GENERAL                  420.07
PÚBLICO EN GENERAL                  462.44
PÚBLICO EN GENERAL                 6387.73
PÚBLICO EN GENERAL                  352.40
PÚBLICO EN GENERAL                  829.00

[94 rows x 1 columns]

Filtro 5: por cabecera

El filtro tiene varios usos. Principalmente, creo que nos permite visualizar el tipo de datos que tiene cada columna y para después empezar a tratarlos.

In [44]:
filtro5=df.head(3)
filtro5

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56

**FILTROS BASICOS PARA VARIABLES CUANTITATIVAS**

Filtro 6: por comparación

Aquí establezco un monto para poder aislar a los que solo cumplen con la condición del margen, que en este caso sean de 300 en adelante. Esto me permite ver por ejemplo, que vendedores traen una mayor cantidad de ventas a partir del monto que elegí.

In [45]:
#Filtro por comparacion
filtro6=df[df["MARGEN_TOTAL_CALCULADO"] > 300]
filtro6

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

**FILTROS BASICOS CON CONETORES LOGICOS**

Filtro 7= "Y"

La selección de estas columnas me permite aislar solamente las compras superiores al margen pero solamente las que superan el monto que establecí. Así como en el caso de antes, solo que ahora no desperdicio mi tiempo viendo márgenes más bajos.

In [46]:
filtro7=df[(df["MARGEN_TOTAL_CALCULADO"] > 300) & (df["NOMBRE_CLIENTE"] == "PÚBLICO EN GENERAL")]
filtro7

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32
57,F37134,2022-01-17,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,4,RB00010,BOB 8020 CAL.19 1612W 127V CER-8CANALES,605.00,44.70,44.70,2420.00,178.80,560.30,2241.20
69,F37153,2022-01-20,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00245,BAN P COMUN 100CMX21MM 900W220V T/TOR,522.00,51.38,51.38,1044.00,102.76,470.62,941.24
75,F37171,2022-01-21,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,3,TU5/16X230MM,"TUBULAR J"" 5/16"" 230MM 4500W 220V""",999.91,200.30,200.30,2999.72,600.90,799.61,2398.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1371,F39748,2022-12-09,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,TUE00206,"TUB INOX 5/16""Øx930mm 1000W 127V CAPUCHO",576.65,0.00,366.62,1153.30,733.23,210.03,420.07
1375,F39752,2022-12-13,AARON NUÑO CORDOVA,PÚBLICO EN GENERAL,1,TU5/16X870J127V,"TUB INOX 5/16""ØX800MM 2000W127V ""J"" TBOY",689.63,227.18,227.18,689.63,227.18,462.44,462.44
1376,F39754,2022-12-13,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,4,CS14D2017B20,"CAS INOX 1/4""ØX2"" 175W240V EXT30CM C/TJ",3416.00,222.14,222.14,6832.00,444.27,3193.86,6387.73
1392,F39780,2022-12-16,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TP0012,"TERMOPAR CERAMICO T/ K"" LONG 12"" CAL.14""",410.00,57.60,57.60,410.00,57.60,352.40,352.40
1410,F39817,2022-12-22,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,TP0016,"TERMOPAR CERAMICO T/K"" LONG 24"" CAL 8""",732.00,0.00,317.50,1464.00,635.00,414.50,829.00

Filtro 8: "O"

Este une el filtro 6 y 7 incluyendo todos los datos que me interesan.

In [47]:
filtro8=df[(df["MARGEN_TOTAL_CALCULADO"] > 300) | (df["NOMBRE_CLIENTE"] == "PÚBLICO EN GENERAL")]
filtro8

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

Filtro 9: "~" (not)

Y esto me permite ver lo contrario a la selección anterior.

In [48]:
#Filtro not ~
filtro9=df[~ (df["MARGEN_TOTAL_CALCULADO"] > 300) & ~ (df["NOMBRE_CLIENTE"] == "PÚBLICO EN GENERAL")]
filtro9

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.0,38.96,38.96,140.00,38.96,101.04,101.04
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.5,38.96,38.96,283.50,116.88,55.54,166.62
15,F37058,2022-01-05,DIEGO ARMANDO LEON DURAN,MOLINERA DE MEXICO,5,PT00070,"PT-100 1/8""ØX30MM EXT 1.5MT 3HILOS Z/ESP",192.5,51.73,149.60,481.25,397.08,42.90,84.17
17,F37060,2022-01-05,DIEGO ARMANDO LEON DURAN,OSCAR VALDEZ GUADARRAMA,3,PJ31C1F1AA00,"TER J 3/16""ØX2"" EXT.2MT CON-1/2"" NPT",125.0,0.00,141.90,375.00,425.69,-16.90,-50.69
51,F37126,2022-01-17,LETICIA RAMIREZ HERNANDEZ,CROPLASTIC,1,BB1 1/2X1/2-300W,"BOQUILLA 11/2X1""1/2"" 300W 240V""",385.0,220.00,220.00,385.00,220.00,165.00,165.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,F39608,2022-11-18,LETICIA RAMIREZ HERNANDEZ,ENPLA,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,125.0,48.20,48.20,250.00,96.40,76.80,153.61
1306,F39608,2022-11-18,LETICIA RAMIREZ HERNANDEZ,ENPLA,2,TP0002,TERMOPAR J3/16 Ø X 1' 1/2 EXT. 1.5 MT,155.0,63.31,63.31,310.00,126.62,91.69,183.38
1307,F39608,2022-11-18,LETICIA RAMIREZ HERNANDEZ,ENPLA,1,TP0003,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 2 MT,190.0,65.16,65.16,190.00,65.16,124.84,124.84
1319,F39621,2022-11-24,LETICIA RAMIREZ HERNANDEZ,PISTIS,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,125.0,48.20,48.20,125.00,48.20,76.80,76.80
1353,F39687,2022-12-05,LETICIA RAMIREZ HERNANDEZ,JOCAR ELECTRICA DEL CENTRO,3,TP0003,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 2 MT,155.0,79.01,79.01,465.00,237.03,75.99,227.97

In [49]:
#Convertir archivo filtrado a CSV
filtro1.to_csv("Entregable1.csv")
filtro2.to_csv("Entregable2.csv")
filtro3.to_csv("Entregable3.csv")
filtro4.to_csv("Entregable4.csv")
filtro5.to_csv("Entregable5.csv")
filtro6.to_csv("Entregable6.csv")
filtro7.to_csv("Entregable7.csv")
filtro8.to_csv("Entregable8.csv")
filtro9.to_csv("Entregable9.csv")

In [ ]:
#descardar archivo filtrado en csv
from google.colab import files
files.download("Entregable1.csv")
files.download("Entregable2.csv")
files.download("Entregable3.csv")
files.download("Entregable4.csv")
files.download("Entregable5.csv")
files.download("Entregable6.csv")
files.download("Entregable7.csv")
files.download("Entregable8.csv")
files.download("Entregable9.csv")
files.download("Entregable9.csv")